*{
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: #222;
    width: 80%;
    margin: auto;
    font-family: system-ui;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    padding: 4px 0;
}
input{
    width: 100%;
    height: 30px;
    background-color: #111;
    padding: 4px;
    border: none;
    outline: none;
    margin: 2px;
    border-radius: 8px;
}
input:focus{
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
}
.price{
    display: flex;
}
.price small{
    background-color: #870505;
    text-align: center;
    border: none;
    border-radius: 10px;
    height: 30px;

}
.price small::before{
    content: 'Total:';
}
button{
    width: 100%;
    height: 30px;
    background-color: #0b5e0b;
    border: none;
    border-radius: 20px;
    margin: 3px;
    padding: 4px;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: #06ed06;
    letter-spacing: 1px;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#deleteAll{
    margin: 10px 0;
}